@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 

h1{
    background-color: rgb(77, 182, 182);
    color: whitesmoke;
    margin-top: 50px;
}
h2{  
    font-size: 30px;
    text-align: center;
    background-color: rgb(77, 182, 182);
    width: 100% ;
    color: whitesmoke;
    margin-top: 50px;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.bargraph{
    float: left;
    padding: 20px;
}

.myths{
    float: right;
    width: 100%;
    height: 20;
}

.jumbo{
    width: 100%;
    margin: 0 auto;
    padding: 15em;
}

.index-quote{
    color: whitesmoke;
}

#number{
    background: url(dollarstat.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
}


.countries{
    float: left;
    text-align: left;
}

.map{
    float: right;
}