@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 

/*.banner-container {
    position: relative;
    text-align: center;
    color: white;
    height: 538px;
    background-color:  rgb(77, 182, 182); 
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 50px;
    width: 100%;
}
*/

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.flex-container {
    display: flex;
   padding: 100px;
   width: 800px;
   margin: 0 auto;
}
.col{
    flex: 1px;
}

h1{
    color: whitesmoke;
    font-family: 'montserrat', sans-serif;
    font-size: 70px;
    padding-top: 50px;
}
h2{  
    font-size: 30px;
    text-align: center;
    background-color: rgb(77, 182, 182);
    width: 100% ;
    color: whitesmoke;
    margin-top: 50px;
}


.jumbo{
    width: 100%;
    margin: 0 auto;
    padding: 15em;
}

.index-quote{
    color: whitesmoke;
}

#title{
    background: url(cover.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
}

#quote{
    background: url(ratio.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
}

footer{
    background-image: linear-gradient(to bottom right, rgb(255, 215, 82), rgb(255,163,172));
    color: #696969;
    padding-top: .5rem;
}